

body {    
    background-color: #1A1E21;
    border: 3px solid blue;
    margin: 0 auto;
    color: white;
    font: normal "Arial";
    font-size: 0.8em;
    line-height: 1.4;
    height: 70em;
}


#globalbox {
    border: 1px solid red;
    margin: 1em;
    text-align: center;
    height: 95%;
  /*  Ojito con esta height, esta un poco parcheada, no deberia estar asi
y se deberia haber ajustado solita..pero bueno. Igual es por el margin.*/
}


#cabecera {
    background: #CFD5DE;
    border: 1px solid green;
    margin: 1em;
    height: 10em;
}

#banner {
    border: 1px solid yellow;
    float: left;
    width: 74%;
    height: 8em;
    margin: 1em;    
}

#loginbox {
    border: 1px solid yellow;
    float: right;
    width: 20%;
    height: 8em;
    margin: 2em;
    
}

#menu_principal {
    border: 1px solid green;
    margin: 1em;
    height: 4em;
}

#menu {    
    border: 1px solid yellow;
    margin: 1em;
    float: left; 
}

#menu_principal ul#menu li {

    text-align: center;
    border: 1px solid blue;
    margin: 5px;
    padding: 1px;
    display: inline;
    float: left;
}

#container_lateral1 {
    border: 1px solid orange;
    width: 18%;
    margin: 1em;
    float: left;
    height: 25em;
}

#chat {
    border: 1px solid purple;
    margin: 1em;
    float: left;
}

#container_lateral2 {
    border: 1px solid orange;
    width: 15%;
    margin: 1.9em;
    float: right;
    height: 25em;
}

#introduccion {    

    border: 1px solid purple;
    margin: 1em;
}

#principal {
    border: 1px solid #707781;
    width: 60%;
    height: 40em;
    margin: 1em;
    float: left;
}

#menu_canvas {    
    border: 1px solid purple;
    margin: 1em;
    height: 3em;
    font-size: 0.6em;
    vertical-align: middle;
    line-height: 3px;
    display: block;
}

#contenido {

    border: 2px solid cyan;
    margin: 1em;
    height: 85%;
   /* <!Ojito con esta height, esta un poco parcheada, no deberia estar asi
y se deberia haber ajustado solita..pero bueno. Igual es por el margin.!>*/
}

#canvas {        
    border: 2px solid red;
    margin: 0.3em;
}

#pie {
    
    border: 1px solid green;
    margin: 1em;
    height: 3em;
    width: 98%;
    float: left;
    font-size: 0.6em;
    vertical-align: middle;
    line-height: 3px;
    display: block;
    clear: both;
}

#loginbox, #container_lateral1, #container_lateral2, #chat,
#menu_canvas, #contenido, #pie {

    background: #384047;
}


#globalbox, #banner, #loginbox, #menu,
#container_lateral1, #container_lateral2,
#menu_canvas, #contenido,#pie{

    -webkit-box-shadow: 10px 8px 20px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 8px 20px 8px rgba(0,0,0,0.75);
    box-shadow: 10px 8px 20px 8px rgba(0,0,0,0.75);

}