body {
    background-color: #1A1E21;
    background-image: url(imagescarcassone/castle1.jpg);
    background-attachment: fixed;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid blue;
    border-style: hidden;
    margin: 0 auto;
    color: white;
    font: normal "Arial";
    font-size: 0.8em;
    line-height: 1.4;
    height: auto;
    z-index: 100;
    overflow-y: scroll; 
    overflow-x: hidden;
}


#globalbox {
    border: 1px solid red;
    border-style: hidden;
    margin: 1em;
    text-align: center;
    height: 95%;
    z-index: 200;
  /*  Ojito con esta height, esta un poco parcheada, no deberia estar asi
y se deberia haber ajustado solita..pero bueno. Igual es por el margin.*/
}


#cabecera {
    background: url(imagescarcassone/fondo.jpg);
    background-repeat: repeat-x;    
    border: 3px solid black;
    margin: 1em;
    height: 10em;
    z-index: 300;
    top: 50%;
}

#banner {
    background: url(imagescarcassone/rsz_enigma_banner.png);
    border: 1px solid black;
    float: left;
    width: 50%;
    height: 8em;
    margin: 1em;   
    z-index: 400; 
}

#userbox {
    border: 2px solid black;
    float: right;
    width: 10em;
    height: auto;
    margin: 1em;
    z-index: 400;
    background: white;
}

#loginbox {
    border: 2px solid black;
    float: left;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 1px;
    clear: both;
    float: right;
    z-index: 500;
    background: grey;
}

#menu_principal {
    border: 1px solid green;
    border-style: hidden;
    width: 98%;
    margin: 1em;
    height: 4em;
    z-index: 300;
}

#menu {    
    border: 2px solid black;
    width: 90%;
    height: 3em;
    background: white;
    margin: 1em;
    float: left; 
    z-index: 400;
    overflow: visible;
}

#menu_principal ul#menu li {
    text-align: center;
    text: black;
    border: 2px solid black;
    background: grey;
    margin: 5px;
    padding: 1px;
    display: inline;
    float: left;
    z-index: 500;
    width: 7em;
}

ul ul {
	display: none;
}

ul li:hover > ul {
	display: inline;
}

#container_lateral1 {
    border: 2px solid black;
    width: 18%;
    margin: 1em;
    float: left;
    height: 25em;
    z-index: 300;
    background: #384047;
}

#chat{
    border: 2px;    
    width: 92%;
    float: left;
    font-size: 0.6em;
    z-index: 300;
}

.new-task input{
    font-size: 0.6em;
    box-sizing: border-box;
    padding: 4px;
    background: white;
    border: red;
    width: 90%;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 300;
    clear: both;
}

#message{
    font-size: 13px;	
    margin-left: 1em;
	text-align: left;

}

#container_lateral2 {
    border: 2px solid black;
    width: 30%;
    margin: 1em;
    float: right;
    height: 25em;
    z-index: 300;
    display: inline;
    background: #384047;
}

#container_lateral2 h1 {    
    text-align: center;
    border: 2px solid black;
    background: grey;
    margin: 1em;
    float: left;
    font-size: 1.5em;
    z-index: 400;
}

#usuarios {
    border: 2px solid black;
    background: #384047;
    margin: 1em;
    float: left;
    height: 35em;
    width: 20em;
    overflow: scroll;
    z-index: 500;
}

#partidas {
    border: 2px solid black;
    background: #384047;
    margin: 1em;
    float: left;
    height: 35em;
    width: 43%;
    z-index: 200;
}

#waiting {
    border: 2px solid black;
    background: #384047;
    margin: 1em;
    float: left;
    height: 35em;
    width: 43%;
    z-index: 500;
}

#principal {
    border: 2px solid black;
    width: 70%;
    height: 30em;
    margin: 1em;
    float: left;
    z-index: 300;
    display: none;
    background: #384047;
}

#contenido {
    border: 3px solid black;
    margin: 1em;
    height: 85%;
    z-index: 400;
    display: none;
   /* <!Ojito con esta height, esta un poco parcheada, no deberia estar asi
y se deberia haber ajustado solita..pero bueno. Igual es por el margin.!>*/
}

#pie {
    border: 2px solid black;
    margin: 1em;
    height: auto;
    width: 98%;
    float: left;
    font-size: 0.6em;
    vertical-align: middle;
    line-height: auto;
    display: block;
    clear: both;
    z-index: 300;
    background: #384047;
}

